.hero#portugal-hero {
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/portugal-wallpaper.webp");
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

h2 {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
    "Liberation Sans", Arial, sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h5 {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
    "Liberation Sans", Arial, sans-serif;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
