.hero {
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#portugal-hero {
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/portugal-wallpaper.webp");
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#spain-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/patio-cordobes.webp");
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#morocco-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/moroccan-souk.jpg");
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#italy-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/fontana-di-trevi.jpg");
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#france-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/lavender-field.jpeg");
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#croatia-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/waterfalls-croatia.jpg");
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#greece-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/acropolis.webp");
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#turkiye-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/capadoccia.jpg");
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h5 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.grid {
  display: grid;
  gap: 2rem;
  text-align: center;
}

.grid-3-columns {
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
}

.grid-2-columns {
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0 20px;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 0 0 0.5rem 0.5rem;
  margin-top: 1rem;
  background-color: #fff;
}

.card {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: #fff;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}
