body {
  background-color: rgb(228, 236, 195);
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
    "Liberation Sans", Arial, sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/sea.jpg");
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  font-style: normal;
  padding: 200px;
  margin-top: 5px;
}

nav {
  display: flex;
  margin-top: 5px;
  justify-content: center;
}

nav ul {
  background-color: rgb(228, 236, 195);
  color: #333;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 20px;
}

nav li {
  list-style: none;
  font-size: 14px;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
    "Liberation Sans", Arial, sans-serif;
  display: inline;
  margin-right: 15px;
  line-height: 42px;
}

nav a {
  text-decoration: none;
  color: #333;
}

dropdown {
  margin-left: auto;
  display: flex;
  font-size: 14px;
  justify-content: right;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
    "Liberation Sans", Arial, sans-serif;
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: white;
  font-size: 14px;
  background-color: #c7b793;
}

.bottom {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
    "Liberation Sans", Arial, sans-serif;
  padding: 0 20px;
  background-color: #c7b793;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 20px;
  width: 50%;
  justify-content: center;
  display: flex;
}

button.travel-with-us {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  color: #333;
  background-color: white;
}

.socials-link {
  text-decoration: none;
}

.img-fluid {
  width: 500px;
  height: 300px;
  display: block;
  padding: 10px;
  justify-content: center;
  border-radius: 12px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.container-about {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
  background-color: #c7b793;
}

.box {
  border: 2px solid #333;
  border-radius: 10px;
  border: none;
  padding: 80px 80px;
  margin: 60px 60px;
  background-color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.item-portugal {
  border: 2px solid #333;
  border-radius: 10px;
  border: none;
  padding: 80px 80px;
  margin: 60px 60px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("../images/portugal-wallpaper.webp");
  background-size: cover;
  background-position: center;
}
.country-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 900px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav .flex-item-right {
    margin: 0;
    margin-top: 10px;
    justify-content: center;
  }

  .index-images {
    display: block;
    flex-direction: row;
  }
}
